<div class="chart-area">
	<div class="top-area">
		<img src="sketch/last_fm_logo.png" class="logo-chart">
		<input type="text" placeholder="Busca artistas, canciones o álbums..." class="search-area">
	</div>

	<div class="zone-buttons">
		<center>
			<button class="order-position" ng-click="selectOrder('none')">Order by position</button>
			<button class="logout-button" ng-click="logout()">Log Out</button>
		</center>
	</div>

	<table class="table-chart">
		<tr>
			<th ng-click="selectOrder('name')" class="change-cursor">Song</th>
			<th ng-click="selectOrder('artist.name')" class="change-cursor">Artist</th>
			<th>Duration</th>
			<th ng-click="selectOrder('playcount')" class="change-cursor">Playcount</th>
			<th>Image</th>
		</tr>
		<tr ng-repeat="trackInfo in listTracksInfo | orderBy: typeOrder">
			<td>
				{{trackInfo.name}}
			</td>
			<td>
				{{trackInfo.artist.name}}
			</td>
			<td>
				{{trackInfo.duration}}
			</td>
			<td>
				{{trackInfo.playcount}}
			</td>
			<td>
				<img ng-src="{{trackInfo['image'][0]['#text']}}">
			</td>
		</tr>
	</table>
</div>