<div class="chart-area">
	<center>
		<button class="order-position" ng-click="selectOrder('none')">Order by position</button>
	</center>
	<table class="table-chart">
		<tr>
			<th ng-click="selectOrder('name')" class="change-cursor">Song</th>
			<th ng-click="selectOrder('artist.name')" class="change-cursor">Artist</th>
			<th>Duration</th>
			<th ng-click="selectOrder('playcount')" class="change-cursor">Playcount</th>
			<th>Image</th>
		</tr>
		<tr ng-repeat="trackInfo in listTracksInfo | orderBy: typeOrder">
			<td>
				{{trackInfo.name}}
			</td>
			<td>
				{{trackInfo.artist.name}}
			</td>
			<td>
				{{trackInfo.duration}}
			</td>
			<td>
				{{trackInfo.playcount}}
			</td>
			<td>
				<img ng-src="{{trackInfo['image'][0]['#text']}}">
			</td>
		</tr>
	</table>
</div>