<!--This is the top part-->
<div class="partUp">
	<div class="slide-zone">
		<!--This is the logo-->
		<img src="sketch/last_fm_logo.png" class="logo-login">

		<!--This is the first slide-->
  		<div class="slide active-slide">
  			<img src="sketch/hardwell-01.png" class="image">
  		</div>

  		<!--This is the second slide-->
  		<div class="slide">
  			<img src="sketch/shakira-01.png" class="image">
  		</div>

  		<!--This is the third slide-->
  		<div class="slide">
  			<img src="sketch/u2-01.png" class="image">
  		</div>
	</div>

	<div class="dots-zone">
  		<ul class="slider-dots">
	        <li class="dot active-dot">&bull;</li>
	        <li class="dot">&bull;</li>
	        <li class="dot">&bull;</li>
        </ul>
	</div>-
</div>

<div class="partDown ">

	<div class="first-form">
		<form action="/" id="myLogin">
			<h2 class="to-center">Ingresar</h2>
			<p>Correro electrónico</p>
			<input type="text" id="login-email" ng-model="myemail" placeholder="Email">
			<p>Contraseña</p>
			<input type="password" id="login-password" ng-model="password" placeholder="Password">
			<a><p class="forget-pass">¿Olvidaste tu contraseña?</p></a>
			<center>
				<button type="button" class="login-button first-button" ng-click="login()">Ingresar</button>
			</center>
		</form>
	</div>

	<div class="line">
		<hr/>
	</div>

	<div class="second-form">
  		<form id="signup">
			<h2 class="to-center">Crea tu perfil</h2>
			<p>Nombre</p>
			<input type="text" id="signup-user" placeholder="Nombre (Se genera automaticamente)" readonly="readonly">
			<p>Correo electrónico</p>
			<input type="email" id="signup-email" placeholder="Email">
			<p>Contraseña</p>
			<input type="password" id="signup-password" placeholder="Password">
			<center>
				<button type="button" class="signup-button second-button" ng-click="signUp()">Continuar</button>
			</center>
  		</form>
	</div>

</div>