<!--This is the top part-->
<div class="partUp">
	<div class="slide-zone">
		<!--This is the first slide-->
  		<div class="slide active-slide">
  			<img src="sketch/hardwell-01.png" class="image">
  		</div>

  		<!--This is the second slide-->
  		<div class="slide">
  			<img src="sketch/shakira-01.png" class="image">
  		</div>

  		<!--This is the third slide-->
  		<div class="slide">
  			<img src="sketch/u2-01.png" class="image">
  		</div>
	</div>

	<div class="dots-zone">
  		<ul class="slider-dots">
	        <li class="dot active-dot">&bull;</li>
	        <li class="dot">&bull;</li>
	        <li class="dot">&bull;</li>
        </ul>
	</div>-
</div>

<div class="partDown ">

	<div class="first-form">
		<form action="/" id="myLogin">
			<h2 class="to-center">Ingresar</h2>
			<p>Correro electrónico</p>
			<input type="email" id="my-email" ng-model="myemail">
			<p>Contraseña</p>
			<input type="password" id="password" ng-model="password">
			<a><p class="forget-pass">¿Olvidaste tu contraseña?</p></a>
			<center>
				<a href="#/list-songs">
					<button type="button" class="first-button" ng-click="submit()">Ingresar</button>
				</a>
			</center>
		</form>
	</div>

	<div class="line">
		<hr/>
	</div>

	<div class="second-form">
  		<form>
			<h2 class="to-center">Crea tu perfil</h2>
			<p>Nombre</p>
			<input type="text">
			<p>Correo electrónico</p>
			<input type="text">
			<p>Contraseña</p>
			<input type="text">
			<center>
				<button type="button" class="second-button">Continuar</button>
			</center>
  		</form>
	</div>

</div>